<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<!--<html lang="en">-->

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./static/base.css">

  <title>Vanguard HQ</title>
</head>

<body>
  <nav>
    <a id="Home" href="#Home">Home</a>
    <a id="Cards" href="{{url_for('showAllCards')}}">Cards</a>
    <a id="Decks" href="#Decks">Decks</a>
  </nav>
  <main>
    <section id="homePage">
      <h1>Home</h1>
      <p>Homepage example</p>
    </section>
    <section id="cardsPage" hidden>
      <h1>Cards</h1>
      <div class="container text-center">
        <div class="row">
          {% for deck in decks%}
          <div class="card" style="width: 10rem;">
            <img src="{{deck.ImagePath}}" class="card-img-top" alt="...">
            <div class="card-body">
              <!-- <h5 class="card-title">{{deck["CardName"]}}</h5>  -->
              <a href="#" class="btn btn-primary">Full View</a>
            </div>
          </div>
          {%endfor %}
        </div>
      </div>
    </section>
    <section id="deckPage" hidden>
      <h1>Your Decks</h1>
      <form action="{{url_for('makeDeck')  }}" method='post'>
        <div class="form-group">
          <label for="exampleInputEmail1">Deck Name</label>
          <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter Deck Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Deck Description</label>
          <input name="des" input type="text" class="form-control" id="exampleInputPassword1"
            placeholder="Insert Deck Description Here">
        </div>
        <button type="submit" class="btn btn-primary">Make Deck</button>
      </form>
    </section>
  </main>
  <script>
    function hideElement(elementId) {
      const element = document.getElementById(elementId);
      if (element) {
        element.hidden = true;
      }
    }
    function showElement(elementId) {
      const element = document.getElementById(elementId);
      if (element) {
        element.hidden = false;
      }
    }
    function showSection(sectionToShowId) {

      const sectionToShow = document.getElementById(sectionToShowId);

      // If either element doesn't exist, exit the function
      if (!sectionToShow) {
        console.error('One or both elements not found');
        return;
      }

      // Get all sections
      const allSections = document.querySelectorAll('body section');

      // Hide all sections
      allSections.forEach(section => {
        section.hidden = true;
      });

      // Show the specified section
      sectionToShow.hidden = false;
    }
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById("Home")
        .addEventListener('click', function (e) {
          e.preventDefault();
          showSection("homePage");
        })
    });
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById("Cards")
        .addEventListener('click', function (e) {
          e.preventDefault();
          showSection("cardsPage");
        })
    });
    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById("Decks")
        .addEventListener('click', function (e) {
          e.preventDefault();
          showSection("deckPage");
        })
    });
  </script>
</body>

</html>