{% extends "layout.html" %}
{% block content %}
<main>
  <section id="cardsPage">
    <h1>Cards</h1>
    <div class="container text-center">
      <div class="row">
        {% for card in cards%}
        <div class="card" style="width: 10rem;">
          <img src="{{card.ImagePath}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{card["CardName"]}}</h5>  
            <a href="#" class="btn btn-primary">Full View</a>
          </div>
        </div>
        {%endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}