{% extends "layout.html" %}
{% block content %}
<main>
    <section id="Deck Page">
        <h1>Your Decks</h1>
        <div class="col">
            Decks
        </div>
        <form action="{{url_for('deck.makeDeck')  }}" method='post'>

            <div class="form-group">
                <label for="exampleInputEmail1">Deck Name</label>
                <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter Deck Name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Deck Description</label>
                <input name="des" input type="text" class="form-control" id="exampleInputPassword1"
                    placeholder="Insert Deck Description Here">
            </div>
            <button type="submit" class="btn btn-primary">Make Deck</button>
        </form>
        <div class="card" style="width: 10rem;">
            <img src="./static/prison.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{decks[0]["DeckName"]}}</h5>
                <p class="card-text">{{decks[0]["DeckDescription"]}}</p>
                <a href="#" class="btn btn-primary">Full View</a>
            </div>
        </div>
        {{decks[0]["DeckId"]}}
        {{decks[0]["DeckName"]}}
        {{decks[0]["DeckDescription"]}}
        </div>

    </section>
</main>
{% endblock %}